* {
  box-sizing: border-box;
}
.body {
  margin: 10px;
  font-family: 'Poppins','sans-serif';
  padding: 100;
}
.navbar {
  display: flex;
  position: relative;
  height: 55px;
  padding: 20px 36 px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.navbar--photo{
  height: 35px;
  width: auto;
  margin-top: 10px;
}
.hero--photo {
  max-width: 300;
  display: flex;
  height: 70;
  padding: 20px 36 px;
  align-self: center;
 
}
.section{
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.hero--header{

}
.hero--paragraph{

}